:root {
    --bg-color: #2e2e2e;
    --green: #39FF14;
    --red: #FF0000;
}  

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

.text-green {
    color: var(--green);
}

.text-red {
    color: var(--red);
}

button {
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.cam,
.cam-div,
.box,
.img,
.img-div {
    aspect-ratio: 1/1;
    border-radius: 5%;
}

.cam-div,
.box,
.img-div {
    width: 80%; /* Making the box responsive */
    background-color: #2e2e2e;
    padding: 10px;
}

.box {
    border-radius: 10%;
}

input[type=text],
input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}
